<aside class="col-12 col-md-2 sidebar">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
    <nav class="navbar navbar-expand">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#my-navbar-1" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100" id="my-navbar-1">
            <ul class="navbar-nav flex-md-column flex-row navbar-nav w-100 justify-content-around">
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                        <li class="nav-item"><a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
    {% endif %}

    <div class="row m-2 copyright d-none d-md-block">
        <div class="col text-dark">
            &copy; 2018
        </div>
    </div>
</aside>