---
layout: default
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <p class="lead">Hello, my name is John Yong Yik Kok and yet another web developer in <a href="http://ant-internet.com/">ant-internet</a>.</p>
      <p>Computer geek, badminton playing, book reading, hiker and anime fans. When I&apos;m not coding, probably I&apos;m watching anime.</p>
      <p>Looking for <b>freelancer</b> or <b>website maintainer</b>?<br /> <a href="{{"/contact"| relative_url}}">How 'bout drop me a message? </a> if you interest to my service.</p>
    </div>
  </div>
</div>
